<nav class="navbar navbar-expand-lg bg-body-tertiary">
  
    <div class="container-fluid">
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
        <i-bs name="list"></i-bs>
      </button> 
      <a>  Expense tracker </a>
      <span *ngIf="isLoggedIn; else elseBlock">
        <button class="btn" type="button" (click)="logOut()">Logout</button>
      </span>
      <ng-template #elseBlock>
        <button class="btn" type="button" (click) ="login()">Login</button>
      </ng-template>
    </div>
  </nav>

   <div class="offcanvas offcanvas-start" id="demo">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title">Expense Tracker</h1>
      <i-bs name="person-circle"
width="75"
  height="75">
</i-bs>
    </div>
    <div class="offcanvas-body">
      <a [routerLink]="['home']"><p>Home</p></a>
      <a routerLink="dashboard"><p>View Expenses</p></a>
      <span *ngIf="isLoggedIn; else elseBlock">
        <button class="btn" type="button" (click)="logOut()">Logout</button>
      </span>
      <ng-template #elseBlock>
        <button class="btn" type="button" (click) ="login()">Login</button>
      </ng-template>
    </div>
  </div>