<nav class="navbar navbar-expand-lg bg-body-tertiary">
  
    <div class="container-fluid">
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
        <i-bs name="list"></i-bs>
      </button> 
      <a>  Expense tracker </a>
      <button class="btn" type="button">{{navbarText}}</button>
    </div>
    
  </nav>

   <div class="offcanvas offcanvas-start" id="demo">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title">Expense Tracker</h1>
    </div>
    <div class="offcanvas-body">
      
      <a href="home"><p>Home</p></a>
      <a href="dashboard"><p>View Expenses</p></a>
      <a><p>Logout</p></a>
    </div>
  </div>