<footer class=" footer ">
  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <span class="contactingLinks">
      <a href="https://www.linkedin.com/in/lakshminarayana-padarthi/"> <i-bs class="linksIcons" name="linkedin" width="3rem" height="3rem"></i-bs></a>
      <a href="https://github.com/LNR14"> <i-bs class="linksIcons" name="github" width="3rem" height ="3rem"></i-bs></a>
      <a href="https://github.com/knirmal1986/expense-tracker"><i-bs  class="linksIcons" name="code-slash" width="3rem" height ="3rem"></i-bs></a>
    </span>
    
  </div>
</footer>